doctype html
html(lang='it')
    head
        meta(http-equiv='content-type' content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        title FollowUp

        link(href='css/index.css' rel='stylesheet' type='text/css')

    body(style='margin: 0; padding: 0;' bgcolor='#ffffff' align='center')
        block body
